* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  background-color: black;
}

header {
  width: 100%;
  max-height: 69px;
  background-color: black;
  border: 1px solid seashell;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
header h1 {
  padding-left: 10px;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 0;
}
nav > ul > li > a {
  margin: 0 1.2rem;
  padding: 0.2rem;
  color: aliceblue;
}

main {
  max-width: 100%;
  max-height: 700px;
}
.background-main {
  width: 100%;
  height: 700px;
  padding-left: 10px;
  padding-right: 10px;
}
.main-issue {
  position: absolute;
  width: 100%;
  top: 30%;
  color: aliceblue;
}
.main-issue h2 {
  position: relative;
  height: 40px;
  font-size: 25px;
  text-align: center;
}
.main-issue h4 {
  font-size: 15px;
  text-align: center;
}

.container h2 p {
  color: aliceblue;
  text-align: center;
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid wheat;
  height: 500px;
  width: 1000px;
  position: absolute;
  left: 20%;
  margin-top: 1rem;
}
.card-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  margin: 1px;
}

.card-image p {
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
}

.text {
  color: #ffffff;
  text-align: center;
  margin-block-start: 30px;
}
.text h6 {
  font-size: 15px;
}

/* section2 */

.section2 {
  height: 700px;
  width: 1300px;
  background-image: url(./img/img-locations-background.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 90rem;
  left: 11%;
  text-align: center;
}
.section2 h3 {
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  display: inline-block;
  background-color: transparent;
  left: 40px;
  font-weight: 900;
  font-size: 32px;
}
.one {
  width: 700px;
  height: 200px;
  background-color: transparent;
  margin-left: 21%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.two {
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
  /*  opacity: 0.5; */
  flex: 1;
}
.two h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.two p {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.cozy {
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  margin-top: 26%;
}
.foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 219%;
  left: 43%;
  color: #ffffff;
  text-align: center;
}
footer{
  text-align: left;
  color: #ffffff;
  margin-top: 85%;
  margin-left: 20px;
}